

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  background-color: #ffffff;
  color: #313131;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
}

/* ::selection {
  background: orange; 
} */
*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 1.3em;
}

 /* ================================================== */
 /*                     SCROLL BAR                     */
 /* ================================================== */


 body::-webkit-scrollbar {
  width: 1em;
  background-color:  #888888;
}
 
body::-webkit-scrollbar-thumb {
  background-color:  #d6d6d6;
  
}

 /* ================================================== */
 /*                  LINKS/BUTTONS                     */
 /* ================================================== */


button {
   background-color: #2235c1;
   border: none;
   outline: none;
   margin: 0px 10px 0px 0px;
   padding: 7px;
   color: #FFF;
   border-radius: 4px;
   cursor: pointer;
}
 
a:link {
  text-decoration: none;
  color: rgb(255, 0, 0);
}

a:visited {
  text-decoration: none;
  color:  rgb(255, 0, 0);
}

a:hover {
  cursor: pointer;
}

a:active {
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
}

 /* ================================================== */
 /*                       LOGO                         */
 /* ================================================== */
  
 img.logo {
  max-width: 70px;
  animation: shake 0.8s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.logo.active {
  max-height: 50px;
}

.logo:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


 /* ================================================== */
 /*                    NAV BAR                         */
 /* ================================================== */

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color:transparent; */
  top: 0;
  position: fixed;
  padding-top: 15px;
  margin: 0px auto;
  width: 100%;
  transition: 0.4s;
  z-index: 3;
}

.nav-bar-element {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
}

.nav-bar.active {
  background: #ffffff;
}

.nav-bar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.nav-bar li {
  display: inline-block;
  margin: -10px 15px 0px 15px;
}

/* .nav-bar li:hover {
   border-color: rgba(58, 58, 58, 0.404);
   padding: 0px 0px;
   transition: 1s;
 } */

.nav-bar li a {
  text-decoration: none;
  color: #313131;
}
/* 
.login {
  font-weight: bolder;
  position: absolute;
  right: 5%;
  color: #313131;

} */

 /* ================================================== */
 /*                  MAIN CONTAINER                    */
 /* ================================================== */


.main-div {
  position: relative;
  top: 170px;
}

.main-div h1 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}


 /* ================================================== */
 /*                    HOME/ABOUT                      */
 /* ================================================== */

.home-div {
  display: flex;
  text-align: left;
}

.home-img-1 {
  max-width: 100%;
  animation: fadeIn 5s infinite alternate;
  overflow: hidden;
}

.home-fade-in ul li {
  margin: 10px -50px;
  list-style-type: circle;
  font-size: large;
  animation: fadeIn 5s infinite alternate;
}

.home-fade-in {
  display: block;
  margin: 100px;
}

.get-started-btn {
  margin: 10px -70px;
  background-color: #2235c1;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 4px;
  animation: fadeIn 5s alternate;
}

.fun-div {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 40px;
  padding-bottom: 100px;
}

.fun-q {
  font-size: 1.3em;
  color: #000000; 
}

.fun-a {
  text-align: center;
  font-size: 1.3em;
}

.fun-card {
  background-color: #d4d4d4;
  width: 300px;
  height: 350px;
  margin: 10px;
  border-radius: 10px;
}

.image-div {
  width: 300px;
  height: 220px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.image-ex {
  background-color: #313131;
  width: 300px;
  position: absolute;
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}


 /* ================================================== */
 /*                        RULES                       */
 /* ================================================== */

.rules-div {
  position: relative;
  margin: 0 200px 0px 200px;
  display:block;
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
}

.rules-div h1 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin-top: 50px;
}

.rules-tasks{
  /* width: 50%;
  margin: 0 auto; */
  max-width: 1500px;
  text-align: right;
}


ol {
  list-style: none;
  list-style-position: inside;
  counter-reset: my-awesome-counter;
  text-align: left;
  padding: 0;
}

ol li {
  counter-increment: my-awesome-counter;
  width: 100%;
  font-size: 1 rem;
  margin-bottom: 0.5rem;
  text-indent: -40px;
  margin-left: 35px;
  margin-top: -5px;
}

ol li::before {
  content: "0" counter(my-awesome-counter);
  font-weight: bolder;
  font-size: 2rem;
  margin-right: 0.5rem;
  font-family: 'Oswald', sans-serif;
  line-height: 1;
}
  
 /* ================================================== */
 /*                        FRIENDS                       */
 /* ================================================== */

.friends-div {
   display: flex;
 }

 .friends-div h1 {
   display: inline-block;
 }

.friends-list-div {
  padding: 1px 25px 25px 25px;
  background-color: #f1f1f1;
  text-align: left;
  min-height: 100%;
}

.friends-profile-div {
  background-color: #d8d8d8;
  margin-left: 10px;
  flex: 2;
  display: relative;
  top: 50%;
  left: 50%;
  text-align: center;
  min-height: 100%;
}

.add-friend {
  background-color: #2fd39f;
  margin-top: 25px;
  margin-right: -5px;
  height: 18px;
  border-radius: 15px;
  float: right;
}

.add-friend-div {
  position: relative;
  width: 500px;
  flex-wrap: wrap;
  margin: auto;

}

.search-results {
  text-align: left;
}
  

.username {
  display: inline-block;
}

.add-friend-btn {
  float: right;
}


 /* ================================================== */
 /*                     SEARCH BAR                     */
 /* ================================================== */

.search-bar {
  text-align: center;
}

.search {
    background: transparent;
    border: none;
    color: white;
    background-color: #ffffff;
    margin-bottom: 30px;
    border-radius: 40px;
    height: 30px;
    width: 200px;
    text-indent: 20px;
    font-family: 'Helvetica', FontAwesome, sans-serif;
    color: #313131;
}

.search- {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

textarea:focus, input:focus{
  outline: none;
}

 /* ================================================== */
 /*                     SEARCH ERROR                   */
 /* ================================================== */

 .error {
  font-size: 1.5em;
}
 /* ================================================== */
 /*                     UP BUTTON                      */
 /* ================================================== */


.scroll-to-top {
  position: fixed;
  bottom: 50px;
  right: 1%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #e2e2e2b9;
  color: rgba(58, 58, 58, 0.404);
  z-index: 1;
}

.scroll-to-top .icon{
  margin: 13px;
  animation: scrollTop 0.5s alternate ease infinite;
}

@keyframes scrollTop{
  from {
    transform: translateY(5px)
  }
  to {
    transform: translateY(-1px);
  }
}
    
 /* ================================================== */
 /*                        FOOTER                      */
 /* ================================================== */

 .footer-div {
    background-color: #2fd39f;
    justify-content: left;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 25px;
    height: 45px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
 }

.footer-div p {
  margin: 5px;
  color: white;
  font-size: 1.2em;
 }

/* ================================================== */
/*                     LEAGUE NAV                     */
/* ================================================== */

.league-nav{
  display: flex;
  justify-content: left;
  background-color: #2fd39f;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 50px;
}

.league-nav-element {
  text-transform: uppercase;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
}

.league-nav li {
  display: inline-block;
  margin: -20px 20px 0px 20px;
  position: relative;
  left: -20px;
}

.league-nav span {
  margin-top: 12px;
  /* position: fixed; */
  position: relative;
  margin-right: 40px;
  align-items: right;
}

/* ul a.active {
  background-color: #2235c1;
  padding: 10px 10px;
  color: white;
} */

.league-nav li:hover {
   background-color: #2235c1;
   padding: 0px 10px;
   height: 5px;
   transition: 1s;
 } 

.nav-bar li a {
  text-decoration: none;
  color: #313131;
}


/* ================================================== */
/*                    LEAGUE PAGE                     */
/* ================================================== */

.league-container {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 100%;
}

.tasks-div {
  background-color: rgba(202, 202, 202, 0.8);
  padding: 20px;
  /* min-height: 100%; */
  font-size: 1.2em;
  padding-left: 50px;
  line-height: 2em;
}

.league-container h1  {
  text-align:left;
}

.details-div {
  background-color: rgba(243, 243, 243, 0.8);
  padding: 10px 20px;
  font-size: 1.2em;
  text-align: left;
}

.each-league {
  margin-bottom: 50px;
}

.bottom-hr {
  margin-top: 50px;
}

.league-details {
  font-size: 1em;
  line-height: 0em;
  /* text-transform: lowercase; */
}

.tasks-div ol li::before {
  content: "0" counter(my-awesome-counter);
  font-weight: bolder;
  color: #000e77;
  font-size: 2rem;
  margin-right: 0.5rem;
  font-family: 'Oswald', sans-serif;
  line-height: 1; 
}

/* ================================================== */
/*                      TASK ROSTER                   */
/* ================================================== */

.task-item {
  display:flex;
  justify-content: space-between;
}

.task-item p {
  text-align: left;
  line-height: 1em;
  display: inline-block;
}

.task-item button {
  padding: 5px 5px;
  margin: 15px;
  align-items: center;
  border-radius: 5%;
  font-weight: bold;
  background-color:rgba(58, 58, 58, 0.575);
}

.add-task {
  margin-top: 25px;
  text-align: left;
}
/* ================================================== */
/*                 INNER LEAGUE NAV                   */
/* ================================================== */

.inner-league-nav {
  list-style: none;
  /* margin: 0;
  padding: 0; */
  position: relative;
  margin-top: -35px;
  text-align: right;
  float:right;
  /* white-space: nowrap; */
  /* position: fixed;
  width: 100vh;
  bottom: 0;
  right: 6em;
  line-height: 2em; */
  /* transform: rotate(90deg);
  transform-origin: 100% 100%; */
}

.inner-league-nav li {
  display: inline-block;
  margin: 0em;
}

.standings {
  text-transform: uppercase;
  background-color: #e7e7e7;
  padding: 5px 10px;
  margin: 5px;
  /* color: white; */
  border-style: 2px solid;
  border-color:rgba(0, 0, 0, 0.404);
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
}

.matchups {
  text-transform: uppercase;
  background-color: #e7e7e7;
  padding: 5px 10px;
  color: #313131;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
}

.delete-league button {
  background-color: rgba(58, 58, 58, 0.404);
  text-transform: uppercase;
  position: relative;
  margin-top: -35px;
  text-align: right;
  float:right;
}

/* ================================================== */
/*                   NEW LEAGUE FORM                  */
/* ================================================== */

.form-popup{
  position: fixed;
  margin-top: 20px;
  left: 30%;
  background-color: #c7c7c7ee;
  width: 50%;
  height: 280px;
  border-radius: 20px;
  align-items: left;
  z-index: 1;
}

.form {
  margin: 0px auto;
  width: 75%;
  display:flex;
  justify-content: space-between;
}

label {
  margin-right: 10px;
  color: black;
  font-size: bold;
}

input, textarea, select {
  font-family: Roboto, sans-serif;
  border: none;
  background-color:rgba(255, 255, 255, 0.918);
  width: 50%;
  padding: 0.5rem;
}

button[type="submit"]:active {
  background-color: #2fd39f;
}

.exit {
  background-color: transparent;
  color: black;
  float: right;
  margin-right: 20px;
  margin-top: -10px;
}

.new-league-form h1 {
  margin-left: 10%;
}

.add-players {
  padding-bottom: 25px;
  margin: 0 15%;
  max-width: 300px;
}

.add-players-div {
  display: flex;
}

.add-player-league {
  /* flex: 3; */
  /* text-align: left;
  line-height: 1em;
  display: inline-block; */
}

.player  {
  position: relative;
  display:inline-block;
  margin: 10px;
}

.add-player-league button {
  padding: 5px;
  font-size: 0.7em;
}


/* ================================================== */
/*                      STANDINGS                     */
/* ================================================== */

.league-header-div {
  margin-top: 60px;
}

.league-header-div h1 {
  font-size: 1.5em;
  text-align: center;
}

hr {
  margin: -10px 0 -10px 0;
}

.standings-div table {
  margin-top: 20px;
}


/* ================================================== */
/*                   PLAYER STATS                     */
/* ================================================== */

table.standings-table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

table td.standings-header {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
}


table.player-stats {
  table-layout: fixed;
  width: 300%;
  text-align: center;
  font-size: 0.9em;
}

.player-names {
  text-align: left;
}
